<form role="form">
  <div class="row">
    <div class="large-12 columns">
      <label>Email
        <input type="email" placeholder="Enter email">
      </label>
      <!-- <small class="error">Invalid entry</small> -->
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Password
        <input type="password" placeholder="Password">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>File
        <input type="file">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>
        <input type="checkbox">
        Active
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Choices</label>
      <label>
        <input type="checkbox" name="optionsRadios" value="option1" checked>
        Option one is this and that&mdash;be sure to include why it's great
      </label>
      <label>
        <input type="checkbox" name="optionsRadios" value="option2">
        Option two can be something else
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Sex</label>
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Male
      </label>
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Female
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-default">Create User</button>
</form>
