<form role="form">
  <div class="row">
    <div class="large-4 columns">
      <label class="hidden-for-small-up" for="exampleInputEmail2">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
    </div>
    <div class="large-4 columns">
      <label class="hidden-for-small-up" for="exampleInputPassword2">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
    </div>
    <label class="inline">
      <input type="checkbox"> Remember me
    </label>
  </div>

  <button type="submit" class="btn">Create User</button>
</form>
