<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %></li>
  <li class="current">Examples</li>
<% end %>

<div class="row" data-equalizer>
  <%= render partial: 'basic_example_tb', layout: 'tb_label', locals: { title: 'Basic Form' } %>
  <%= render partial: 'basic_example_sf', layout: 'sf_label', locals: { title: 'Basic Form' } %>
</div>
